@media(min-width: 1200px){
	html{
		font-size: 60%;
		line-height: 1.2rem;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	html{
		font-size: 50%;
		line-height: 1.2rem;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	html{
		font-size: 40%;
		line-height: 1.2rem;
	}
}
@media(max-width: 767px){
	.carousel-caption {
		top:20rem;
		padding-top: 1rem;
	}
	.carousel-caption h1{
		font-size: 2.5rem;
		line-height:2rem;
	}
	.carousel-caption p{
		font-size:2rem ;
		line-height: 2rem;
	}
	#klienci{
		height: 35rem;
	}
	.block{
		margin-left: -20px;
		margin-right: -20px;
	}
	#menu{
		height: 80px;
	}
	#logo img{
		height: 50px;
		width: 80px;
		margin-bottom:10px;
	}
}